.fade-card {
    position: relative;
    width: 100%;
    height: {{xs:10%}};
    overflow: hidden;
}


.fade-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: 'column';
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-card:hover .fade-card-front {
    opacity: 0.3;
}

.fade-card:hover .fade-card-back {
    opacity: 1;
}